# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp

# Large datasets
dataset/images/
dataset/labels/

# YOLO cache
*.cache

# Model weights
weights/*.pt

# Environment variables
.env